.button {
  --btn-primary-color: var(--grey52);
  --btn-secondary-color: var(--grey85);
  padding: var(--indent-1) var(--indent-3);
  border: 1px solid var(--btn-primary-color);
  border-radius: var(--border-radius);
  background-color: var(--btn-secondary-color);
  transition: background-color cubic-bezier(0.18, 0.89, 0.32, 1.28) 1ms,
    color cubic-bezier(0.18, 0.89, 0.32, 1.28) 1ms;
  box-shadow: var(--shadow)
}

@media (pointer: fine) {
  .button:not([disabled]):hover {
    background-color: var(--btn-primary-color);
    color: var(--white);
  }
}

.button:active {
  box-shadow: inset var(--shadow), var(--shadow);
  outline: none;
}

.button[disabled] {
  filter: opacity(0.4);
  box-shadow: unset;
  cursor: default;
}