/* From GRT https://grtcalculator.com */
:root {
  --indent-var-1: 0.4rem;
  --indent-var-2: 0.7rem;
  --indent-var-3: 1.2rem;
  --indent-var-4: 1.9rem;
  --indent-var-5: 3rem;
  --indent-var-6: 4.9rem;

  --indent-1: var(--indent-var-1);
  --indent-2: var(--indent-var-2);
  --indent-3: var(--indent-var-3);
  --indent-4: var(--indent-var-3);
  --indent-5: var(--indent-var-4);
  --indent-6: var(--indent-var-5);
}

@media (--tablet-viewport) {
  :root {
    --indent-1: var(--indent-var-1);
    --indent-2: var(--indent-var-2);
    --indent-3: var(--indent-var-3);
    --indent-4: var(--indent-var-4);
    --indent-5: var(--indent-var-5);
    --indent-6: var(--indent-var-6);
  }
}
