/* From GRT https://grtcalculator.com */
:root {
  --indent-1: 0.2rem;
  --indent-2: 0.4rem;
  --indent-3: 0.7rem;
  --indent-4: 1.1rem;
  --indent-5: 1.8rem;
  --indent-6: 2.9rem;
}

@media (--tablet-viewport) {
  :root {
    --indent-1: 0.4rem;
    --indent-2: 0.7rem;
    --indent-3: 1.1rem;
    --indent-4: 1.8rem;
    --indent-5: 2.9rem;
    --indent-6: 4.7rem;
  }
}
