@import "colors.global.css";
@import "indents.global.css";
@import "font.global.css";

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

button {
  cursor: pointer;
}
