@import "colors.global.css";
@import "indents.global.css";
@import "font.global.css";

:root {
  --border-radius: 5px;
  --shadow: 0 7px 15px -5px hsl(0deg 0% 0% / 20%);
  --skeleton-animation: skeleton-loading 1s ease-out infinite alternate;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

button {
  cursor: pointer;
}

*:focus {
  outline: revert;
}

@keyframes skeleton-loading {
  from {
    background-color: var(--grey76);
    border-color: var(--grey76);
  }

  to {
    background-color: var(--grey85);
    border-color: var(--grey85);
  }
}
