@import "./../../components/ui/Input/input.module.css";

.authBlock {
  max-width: 400px;
  margin: 0 auto;
  background-color: #8cde0011;
  padding: var(--indent-5);
  border-radius: 5px;
  border: 1px solid var(--overgrown);
}

.loginLabel {
  display: block;
  width: 100%;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: var(--indent-3);
  align-items: center;
}

.haveAccountText {
  margin-right: auto;
}

.haveAccountTextChangeBtn {
  text-decoration: underline;
  cursor: pointer;
}

@media (pointer: fine) {
  .haveAccountTextChangeBtn {
    text-decoration: initial;
  }

  .haveAccountTextChangeBtn:hover {
    text-decoration: underline;
  }
}


